<div class="header bg-gradient-warning pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Categorias</h3>
        </div>
        <ngx-spinner
          size="medium"
          type="ball-clip-rotate"></ngx-spinner>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col" sortable="id" (sort)="onSort($event)">#</th>
              <th scope="col" sortable="name" (sort)="onSort($event)">Nome</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categoria of categorias">
              <td>
                {{ categoria.id }}
              </td>
              <td>
                {{ categoria.name }}
              </td>
              <td class="text-right">
                <div ngbDropdown placement="auto">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="javascript:void(0)">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li [ngClass]="[filtro.pagina == i ? 'page-item active' : 'page-item']"
                  *ngFor="let i of totalRegistros | generateRowIndexes">
                <a class="page-link" (click)="pesquisar(i)">{{(i + 1)}}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
